@import '{reywood:bootstrap3-sass}/bootstrap';
@import '{}/client/styles/imports/test';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  background: #000000;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-inverse {
  background: #000000;
}

.billboard {
  width: 100%;
  height: 64rem;
  background-size: cover;
  background-position: 50% 50%;
  border: 1px solid #222222;
  
  h1 {
    font-size: 6rem;
  }
}

.home {
  background-image: url('/images/clarinetgerman.jpg');
}

.about {
  background-image: url('/images/clarinetgirl.jpg');
}

.studio {
  background-image: url('/images/girl.jpg');
}

.contact {
  background-image: url('/images/man.jpg');
}

.flex-container-column {
  display: -webkit-flex; /*safari*/
  display: flex;
  -webkit-flex-flow: column wrap; /*safari*/
  flex-flow: column wrap;
  -webkit-justify-content: center; /*safari*/
  justify-content: center;
}

.flex-container-row {
  display: -webkit-flex; /*safari*/
  display: flex;
  -webkit-flex-flow: row wrap; /*safari*/
  flex-flow: row wrap;
  -webkit-justify-content: center; /*safari*/
  justify-content: center;
}

.mottos {
  margin: 100px 0px;
}

.motto {
  margin: 60px 0px;
  img {
    width: 300px;
    height: 300px;
    border: 8px solid #FFFFFF;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
}

footer {
  background: #111111;
  margin-top: 40px;
  padding: 20px;
}
